* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
   
    background-color: #83855f;
    color: #333;
}

nav {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 25px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    background-color: #83855f;
    color: white;
}

header img {
    width: 250px;
    border-radius: 50%;
    margin-top: 35px;
}

section {
    height: 90vh;
    padding: 100px 20px 20px 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

h2 {
    color: #4CAF50;
    margin-bottom: 55px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    flex: 1;
    background-color: #b1d8a7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
    min-width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: auto;
}

form input, form textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 14px;
}


